.tab-menu { padding:0 20px;border-bottom:1px solid #ccc; }
.tab-menu li{ float: left; padding:5px 8px;  border:1px solid #fff;  border-bottom-width: 0;}
.tab-menu li.current{ border-color:#ccc; border-bottom: 1px solid #fff; margin-bottom: -1px;}

.tab-content{ display: none; }
.tab-content-current{ display: block; }