/**
 * @require common:reset
 */
body{ font-size: 14px; }

.wrapper{ width: 1000px; margin:0 auto; }

.layA{  width: 300px;  margin-right: 20px;}
.layB{ width: 360px; }
.layC{ width: 300px; }

.list-ad{ height: 202px;  overflow: hidden;  }